<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>servlet</servlet-name>
    <servlet-class>com.sp.Servlet.MyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet</servlet-name>
    <url-pattern>/servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registcheck</servlet-name>
    <servlet-class>com.sp.Servlet.registcheckservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registcheck</servlet-name>
    <url-pattern>/registcheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>regist</servlet-name>
    <servlet-class>com.sp.Servlet.registservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>regist</servlet-name>
    <url-pattern>/regist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mtrchoose</servlet-name>
    <servlet-class>com.sp.Servlet.mtrchooseservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mtrchoose</servlet-name>
    <url-pattern>/mtrchoose</url-pattern>
  </servlet-mapping>
</web-app>